.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 8px;
  font-weight: 500;
  color: #4b5563;
  transition: 0.2s;
  border-left: 4px solid transparent;
}

.menu-link:hover {
  background: #fef2f2;
  color: #991b1b;
}

.active-link {
  background: #fee2e2;
  color: #991b1b;
  border-left: 4px solid #ef4444;
  font-weight: 600;
}

.active-link z-icon {
  color: #ef4444 !important;
}
