:host {
  display: block;
}

textarea[z-input] {
  min-height: 120px;
  resize: vertical;
}

input[type='date'][z-input] {
  appearance: auto;
  -webkit-appearance: auto;
}

input[type='date'][z-input]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
}
