.menu-link {
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 500;
  color: #374151;
  transition: 0.2s;
}

.menu-link:hover {
  background: #f3f4f6;
}

.active-link {
  background: #4f46e5;
  color: white;
}
